/* Place your CSS styles in this file */


body    
{
    background-color: rgb(24, 155, 204);
}

.Headline
{
    display: flex;
    align-items: stretch;
    background-color: aliceblue;
    justify-content: space-around;
}

.Headline > div 
{
    color: black;
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.Main
{
    background-color:blueviolet;
    display: flex;

    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.Main > div
{
    background-color: blue;
    color:black;
    margin: 10px;
    font-size 14px;
}

.Footer
{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
}

.Footer > div 
{
    color:black;
    margin: 5px;
    font-size: smaller;
}
