/* Place your CSS styles in this file */


body    
{
    background-color: rgb(24, 155, 204);
}

.Headline
{
    color: rgb(0, 0, 0);
    align-items:center;
    font-weight: bold;
    
}


.Content
{
    color: rgb(200, 0, 0); 
    align-items: center;
    flex-direction: column;

}

.Content > div  
{
    background-color: aliceblue;
    text-align: center;
    font-size: 14px;
}

#Self
{
    height: 20%;
    width:  20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#SignUp
{
    align-content: center;
}


.infotext
{
    color: rgb(0, 0, 0);  
    align-items: center;
    justify-content: space-evenly;

}
p1


a 
{
    text-align:center;
}
